<div id="login" class="d-flex flex-wrap align-content-between justify-content-center w-100 h-100">
	<div class="d-flex justify-content-between w-100">
		<div class="d-block">
			<div id="food-left-top"></div>
			<div id="food-half-top"></div>
		</div>
		<div id="food-right-top"></div>
	</div>
	<div class="d-flex justify-content-between w-100 align-self-baseline">
		<div id="food-left-bottom"></div>
		<div id="food-right-bottom"></div>
	</div>
	<div class="position-absolute d-flex justify-content-center flex-wrap h-100">
		<div class="d-flex align-self-center flex-wrap margin-15 container-block-by">
			<div class="w-100"><div id="logo" class="mx-auto"  v-bind:style="{ backgroundImage: 'url(' + store_logo + ')' }"></div></div>
		</div>
			<label id="slogam" class="w-100 text-center  font-size-1 ">
				<p><b>{{store_text1}}</b></p>
				<p><b>{{store_text2}}</b></p>
			</label>
			<div class="w-100 margin-top-15" >
				<input name="name" placeholder="Digite seu Nome" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
			</div>
			<div class="w-100 margin-top-15" >
				<input name="username" placeholder="Digite seu Login" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
			</div>
			<div class="w-100 margin-top-15" >
				<input name="phone" placeholder="Digite seu Telefone" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
			</div>
			<div class="w-100 margin-top-15" >
				<input name="e-mail" placeholder="Digite seu E-mail" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
			</div>
			<div class="w-100 margin-top-15" >
				<input name="password" type="password" placeholder="Digite sua Senha" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
			</div>
			<div class="w-100 margin-top-15" >
				<input name="repeat-password" type="password" placeholder="Repita sua Senha" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
			</div>

			<div class="w-100 margin-top-15" >
				<a  :href="'#'+store_path+'/create-address'" class="text-decoration-none"><button class="big-button-center bg-primary text-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
					<label class="d-flex align-self-center">Criar conta</label>
				</button></a>
			</div>

			<div class="w-100 " >
				<a  :href="'#'+store_path+'/panel'" class="text-decoration-none"><button class="big-button-center bg-white border-0 font-size-2 text-center text-muted hover-opacity-75 d-flex justify-content-center  align-items-center">
					<label class="">Manter como visitante </label>
				</button></a>
			</div>
			<div class="w-100 margin-top-15" >
				<a  :href="'#'+store_path+'/'" class="text-decoration-none"><button class="big-button-center bg-white border-0 font-size-2 text-center text-primary hover-opacity-75 d-flex justify-content-center  align-items-center">
					<label class="#home"><i class="fa fa-caret-left"></i> Voltar</label>
				</button></a>
			</div>
	</div>
</div>