<div id="order_items" class="d-flex justify-content-center flex-wrap h-100">
	<div class="d-flex align-self-start flex-wrap margin-15 list container-block-by w-100 h-100 ">
		<div class="w-100 d-flex justify-content-between">
			<button class="bg-transparent border-0" @click="goBack"><label class="font-size-1  "><i class="fas fa-chevron-circle-left "></i></label></button>	
			 <label class="w-100 text-center font-size-1 text-muted">Itens do seu pedido</label>
		</div>
		<div v-for="(item, index) in order" class="w-100 d-flex justify-content-between  margin-top-20 margin-x-15 ">
			<div class="d-flex flex-wrap justify-content-between align-items-end w-100 border-bottom padding-bottom-5 ">
				<div class="d-flex justify-content-between align-items-end w-100 ">
					<label class="font-size-2 m-0  ">
						<b>{{item.amount}}x {{(isEmpty(item.product))?"":item.product.descricao}}</b>
					</label>
					<label class="font-size-3 m-0  ">{{formatMoney(calcPriceItem(item))}}</label>
				</div>
				<div v-if="item.pizza==true"  class="d-flex  w-100 ">
					<label class="font-size-4 m-0 ">
						{{(isEmpty(item.size))?"":"TAMANHO:  "+item.size.descricao}}
						{{(isEmpty(item.flavors))?"":"SABORES: "+getDesriptionFlavorsPizza(item.flavors).join(", ")}}
						{{(isEmpty(item.border))?"":" BORDA: "+item.border.descricao}}
					</label>
				</div>
			</div>
			<button @click="editItem(item)" class="d-flex rounded-10 margin-left-15 button-mini-squared  hover-opacity-75 justify-content-center align-items-center  font-size-1 ">
				<i class="fas fa-bars"></i>
			</button>
		</div>
		<div class="d-flex align-self-end justify-content-center margin-15 w-100 ">
			<button @click="addItem" class="font-size-1 border-0 bg-white text-danger">Incluir mais Itens</button>
		</div>
		<div class="w-100 d-flex justify-content-between  margin-top-20 margin-x-15 ">
			<div class="d-flex justify-content-between align-items-end w-100 border-bottom padding-bottom-5 ">
				<label class="font-size-2 m-0  ">Total</label>
				<label class="font-size-2 m-0  ">{{formatMoney(calcTotal())}}</label>
			</div>
		</div>
		<div class="d-flex justify-content-between margin-15 w-100 ">
			<button @click="confirmOrder()" class="d-flex rounded-10 margin-x-15 hover-opacity-75 d-flex justify-content-center align-items-center bg-danger text-white font-size-1 "><label class="margin-x-15">Enviar Pedido</label></button>
			<button @click="cancelOrder" class="font-size-1 border-0 bg-white text-danger">Cancelar Pedido</button>
		</div>
		
	</div>
</div>